.footer {
	background-color: #fff;
	padding: 0 0 50px 0;
	font-family: sans-serif;
	font-size: 14px;
	color: #333;

	&__top {
		display: flex;
		justify-content: space-evenly;
		gap: 40px;
		padding: 50px 0 50px 0;
		border-top: 1px solid #eee;
	}

	&__column {


		&--story {

			max-width: 482px;
		}

		&--social {
			max-width: 240px;
		}
	}

	&__title {
		color: var(--Black-Primary, #000);
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.32px;
		margin-bottom: 20px;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__link {
		display: block;
		color: #000;
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;
		margin-bottom: 20px;
	}

	&__text {
		color: var(--Black-Primary, #000);
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;
	}

	&__icons {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		row-gap: 20px;
		margin-top: 10px;
		max-width: 168px;
	}

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__bottom {
		display: flex;
		justify-content: space-evenly;
		border-top: 1px solid #eee;
		padding-top: 30px;
		gap: 20px;
	}

	&__selects {
		display: flex;
		gap: 46px;
	}

	&__select {
		border: 1px solid #ccc;
		background-color: #fff;
		display: flex;
		width: 210px;
		height: 40px;
		padding: 0 15px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 10px;
		flex-shrink: 0;
		color: var(--Light-Colors-Black---Light, #000);
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 22px; /* 157.143% */

	}

	&__copyright {
		display: flex;
		align-items: center;
		color: var(--Black-Primary, #000);
		text-align: center;
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;

	}

	&__payments {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__payment-icon {
		width: 38px;
		height: 24px;

	}
}

@media (max-width: 575px) {
	.footer__top {
		display: grid;
		grid-template-columns: repeat(2, 1fr); // 2 колонки
		gap: 30px;
		padding: 30px 15px;

		// всі колонки однакові
		.footer__column {
			width: 100%;

		}

		// останній блок (Our Story) на всю ширину під ними
		.footer__column--story {
			grid-column: span 2; // займає дві колонки
		}
	}

	.footer__title{
		color: var(--Black-Primary, #000);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;
		margin-bottom: 15px;
	}

	.footer__link{
		color: #000;
		font-size: 12px;
		font-style: normal;
		font-weight: 300;
		line-height: 20px; /* 166.667% */
		letter-spacing: 0.24px;
		margin-bottom: 15px ;
	}
	.footer__text{
		color: var(--Black-Primary, #000);
		font-size: 12px;
		font-style: normal;
		font-weight: 300;
		line-height: 20px; /* 166.667% */
		letter-spacing: 0.24px;
	}
	.footer__bottom{
		display: grid;
		padding: 30px 15px;
	}
	.footer__selects{
		display: grid;
		gap: 15px;
	}
	.footer__payments{
		justify-content: space-around;
	}

}


@media (max-width: 1280px) {
	.footer__top{
		flex-wrap: wrap;
	}
	.footer__bottom{
		flex-wrap: wrap;
	}
}


