.header__top {
	background-color: #000;
	text-align: center;
	color: var(--White, #FFF);
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
	padding: 11px 0 15px 0;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	&__bottom {
		display: flex;
		justify-content: space-around;
		padding: 32px 0;
		position: absolute;
		top: 48px;
		left: 0;
		width: 100%;
		z-index: 100;
		background-color: transparent;
		transition: background-color 0.5s ease, color 0.5s ease, top 0.3s ease-in-out;

		&.scrolled {
			background-color: #fff;

		}
		&.scrolled_top{
			top: 0;
		}
	}

	&__bottom::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background: rgba(255, 255, 255, 0.16);
	}

	.header_left {
		display: flex;
		justify-content: space-around;
		gap: 106px;

		.burger-menu{
			display: none;
			width: 22px;
			height: auto;
			cursor: pointer;
			position: absolute;
			top: 34px;
		}

		.header_logo {
			.logo__img {
				display: none;
				transition: opacity 0.3s ease;
			}

			.logo__img--white {
				display: block;
			}

			&.scrolled {
				.logo__img--white {
					display: none;
				}

				.logo__img--black {
					display: block;
				}
			}
		}

		.header_nav {
			display: flex;
			align-items: center;

			.nav__list {
				display: flex;
				justify-content: space-between;
				gap: 80px;

				a {
					color: var(--White, #FFF);

					/* Paragraph-3 */
					font-family: 'Poppins', sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px; /* 157.143% */
					text-decoration: none;
					transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;

					&:hover {
						opacity: 0.7;
					}

					&.scrolled {
						color: #000000;
					}
				}
			}
		}

	}

	.header_nav .nav__list li > a svg path,
	.header_nav .nav__list li > a svg circle {
		stroke: white;
		transition: fill 0.5s ease-in-out, stroke 0.5s ease-in-out;
	}
	.header_nav .nav__list li > a.scrolled svg path,
	.header_nav .nav__list li > a.scrolled svg circle {
		stroke: black;

	}

	.header_right {
		.header_nav {
			display: flex;
			align-items: center;
			height: 100%;

			.nav__list {
				display: flex;
				gap: 46px;

				li {
					display: flex;
					gap: 10px;
				}

				a {
					display: flex;
					align-items: center;
					color: var(--White, #FFF);

					/* Paragraph-3 */
					font-family: 'Poppins', sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px; /* 157.143% */
					text-decoration: none;
					transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;

					&:hover {
						opacity: 0.7;
					}

					&.scrolled {
						color: #000000;
					}
				}
			}
		}

	}
}



@media (max-width: 1280px) {
	.header__bottom{
		justify-content: space-between;
		padding: 32px 80px;
	}
	.burger-menu{
		display: block;
	}
	.header .header_left .header_nav .nav__list{
		display: none;
	}
	.header .header_right .header_nav .nav__list{

		gap: 20px;
	}
	.header .header_right .header_nav .nav__list .nav_link{
		display: none;
	}
}

@media (max-width: 575px) {
	.header__top{
		padding: 5px 0 5px 0;
		font-size: 14px;
	}
	.header__bottom{
		padding: 15px 12px 15px 15px;
		justify-content: end;
	}
	.header__bottom::after {
		display: none;
	}
}


