.gift {
	background-color: #FFFFFF;

	.container {
		padding: 120px 0 120px 0;
		display: flex;
		justify-content: center;

		.gift_items__left {
			display: grid;

			.gift_items__image__mod {
				width: 753px;
				height: 493px;
				background-image: url('../../img/gift1_fon.jpg');
				background-size: cover;
				background-position: center;

				img {
					height: 100%;
					width: 100%;
				}

				.image__mod {
					display: block;
					height: 100%;
					width: 100%;
					object-fit: contain;
				}
			}

			.gift_items__image {
				width: 753px;
				height: 493px;

				img {
					display: block;
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			.gift_items__info {
				display: grid;
				gap: 20px;
				padding: 129px 80px 130px 80px;
				background: #F9F9F9;

				.gift_items__title {
					color: var(--Black-Primary, #000);

					font-family: 'Poppins', sans-serif;
					font-size: 48px;
					font-style: normal;
					font-weight: 600;
					line-height: 64px; /* 133.333% */
					letter-spacing: 0.96px;
				}

				.gift_items__description {
					color: #6E7172;


					font-family: 'Poppins', sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px; /* 157.143% */
				}

				.gift_items__button {
					display: flex;
					justify-content: start;

					.shop-now {
						display: flex;
						justify-content: center;
						align-items: center;
						font-family: 'Poppins', sans-serif;
						font-size: 14px;
						background: #000000;
						color: #ffffff;
						padding: 20px 79px 20px 79px;
						cursor: pointer;
						border: 2px solid transparent;
						transition: all 0.5s ease-in-out;
						text-decoration: none;


						&:hover {
							//background: transparent;
							color: #000000;
							border: 2px solid #000000;
							background: rgba(255, 255, 255, 0.2); // прозорий білий фон
							backdrop-filter: blur(10px); // саме розмиття
							-webkit-backdrop-filter: blur(10px); // для Safari
						}
					}


				}
			}
		}

		.gift_items__right {
			display: grid;

			.gift_items__image {
				width: 753px;
				height: 493px;


				img {
					display: block;
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			.gift_items__info {
				display: grid;
				gap: 20px;
				padding: 93px 80px 90px 80px;
				background: #F9F9F9;

				.gift_items__title {
					color: var(--Black-Primary, #000);

					font-family: 'Poppins', sans-serif;
					font-size: 48px;
					font-style: normal;
					font-weight: 600;
					line-height: 64px; /* 133.333% */
					letter-spacing: 0.96px;
				}

				.gift_items__description {
					color: #6E7172;


					font-family: 'Poppins', sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px; /* 157.143% */
				}

				.gift_items__select {
					display: grid;
					gap: 20px;
				}

				.custom-input {
					background-color: #f9f9f9; // світлий фон
					border: 1px solid #ccc; // тонка сіра рамка

					display: flex;
					width: 360px;
					padding: 25px 15px;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					gap: 10px;
					color: #6E7172;
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px; /* 150% */

					&::placeholder {
						color: #999;
						font-weight: 400;
					}

					&:focus {
						outline: none;
						border-color: #aaa; // або залишити #ccc, якщо не хочеш змінювати
						background-color: #fff;
					}
				}


				.gift_items__button {
					display: flex;
					justify-content: start;

					.shop-now {
						display: flex;
						justify-content: center;
						align-items: center;
						font-family: 'Poppins', sans-serif;
						font-size: 14px;
						background: #000000;
						color: #ffffff;
						padding: 20px 91px 22px 79px;
						cursor: pointer;
						border: 2px solid transparent;
						transition: all 0.5s ease-in-out;
						text-decoration: none;


						&:hover {
							//background: transparent;
							color: #000000;
							border: 2px solid #000000;
							background: rgba(255, 255, 255, 0.2); // прозорий білий фон
							backdrop-filter: blur(10px); // саме розмиття
							-webkit-backdrop-filter: blur(10px); // для Safari
						}
					}

					.shop-now__newslt_mod {
						width: 360px;
					}


				}
			}
			.gift_items__info__mod-input {
				padding: 115px 80px 114px 80px;
			}
		}
	}
}



@media (max-width: 575px) {
	.gift .container{
		display: grid;
		padding: 30px 0 0 0;
		justify-content: normal;
	}

	.gift .container .gift_items__left .gift_items__image{
		width: auto;
		height: 210px;
	}
	.gift .container .gift_items__left .gift_items__info .gift_items__title{
		color: var(--Black-Primary, #000);

		/* H2 – Mobile */
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px; /* 133.333% */
		letter-spacing: 0.48px;
	}
	.gift .container .gift_items__left .gift_items__info .gift_items__description{
		color: #6E7172;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;


	}

	.gift .container .gift_items__left .gift_items__info{
		padding: 30px 15px;
		gap: 10px;
	}

	.gift .container .gift_items__right .gift_items__info{
		padding: 30px 15px;
		gap: 10px;
	}


	.gift .container .gift_items__right .gift_items__info .gift_items__title{
		color: var(--Black-Primary, #000);

		/* H2 – Mobile */
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px; /* 133.333% */
		letter-spacing: 0.48px;
	}

	.gift .container .gift_items__right .gift_items__info .gift_items__description{
		color: #6E7172;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;

	}

	.gift .container .gift_items__right .gift_items__image{
		width: auto;
		height: 210px;
	}

	.gift .container .gift_items__left .gift_items__info .gift_items__button .shop-now{
		width: 100%;
		padding: 14px 0 14px 0;
		color: var(--White, #FFF);
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 166.667% */
		letter-spacing: 0.24px;
	}


	.gift .container .gift_items__right .gift_items__info .gift_items__button .shop-now{
		width: 100%;
		font-size: 12px;
		padding: 14px 0 14px 0;
	}
	.gift .container .gift_items__right .gift_items__info .gift_items__button{
		width: 100%;

	}
	.gift .container .gift_items__right .gift_items__info .gift_items__button a{
		width: 100%;
	}

	.gift .container .gift_items__right .gift_items__info .custom-input{
		width: 100%;
		color: var(--Dark-Grey-Secondary, #6E7172);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		padding: 14px 15px;
	}

}


@media (max-width: 1023px) {
	.gift .container{
		display: grid;
		padding: 80px 15px 0 15px;
		justify-content: normal;
	}

	.gift .container .gift_items__left .gift_items__image{
		width: auto;
		height: 350px;
	}
	.gift .container .gift_items__left .gift_items__info .gift_items__title{
		color: var(--Black-Primary, #000);

		/* H2 – Mobile */
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px; /* 133.333% */
		letter-spacing: 0.48px;
	}
	.gift .container .gift_items__left .gift_items__info .gift_items__description{
		color: #6E7172;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;


	}

	.gift .container .gift_items__left .gift_items__info{
		padding: 30px 15px;
		gap: 10px;
	}

	.gift .container .gift_items__right .gift_items__info{
		padding: 30px 15px;
		gap: 10px;
	}


	.gift .container .gift_items__right .gift_items__info .gift_items__title{
		color: var(--Black-Primary, #000);

		/* H2 – Mobile */
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px; /* 133.333% */
		letter-spacing: 0.48px;
	}

	.gift .container .gift_items__right .gift_items__info .gift_items__description{
		color: #6E7172;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.28px;

	}

	.gift .container .gift_items__right .gift_items__image{
		width: auto;
		height: 350px;
	}

	.gift .container .gift_items__left .gift_items__info .gift_items__button .shop-now{
		width: 100%;
		padding: 14px 0 14px 0;
		color: var(--White, #FFF);
		text-align: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 166.667% */
		letter-spacing: 0.24px;
	}


	.gift .container .gift_items__right .gift_items__info .gift_items__button .shop-now{
		width: 100%;
		font-size: 14px;
		padding: 14px 0 14px 0;
	}
	.gift .container .gift_items__right .gift_items__info .gift_items__button{
		width: 100%;

	}
	.gift .container .gift_items__right .gift_items__info .gift_items__button a{
		width: 100%;
	}

	.gift .container .gift_items__right .gift_items__info .custom-input{
		width: 100%;
		color: var(--Dark-Grey-Secondary, #6E7172);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		padding: 14px 15px;
	}

}
