
	.items_card{
		background-color: #FFFFFF;
		display: flex;
		justify-content: center;
		gap: 30px;
		.card{
			display: grid;
			gap: 10px;
			position: relative;

			.product-badge {
				position: absolute;
				top: 20px;
				left: 20px;
				background-color: #fff;
				color: var(--Black-Primary, #000);
				font-family: 'Poppins', sans-serif;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 166.667% */

				padding: 2px 10px;
				z-index: 1;
				transition: all 0.3s ease;
			}

			.card_image {
				width: 354px;
				height: 441px;
				overflow: hidden;
				position: relative;
				a, img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover; // Обрізає зображення, зберігаючи пропорції
					transition: opacity 0.5s ease-in-out;

					&:hover {
						opacity: 0.8;
					}
				}
			}

			.view-more {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 20px 0;
				background: rgba(255, 255, 255, 0.8);
				color: #3A3836;
				font-family: 'Poppins', sans-serif;
				font-size: 16px;
				text-align: center;
				opacity: 0;
				transition: opacity 0.5s ease-in-out;
				pointer-events: none; // щоб не заважав hover'у
			}

			&:hover .view-more {
				opacity: 1;
			}

			.card_title{
				color: #3A3836;
				text-align: center;
				font-family: 'Poppins', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 24px; /* 150% */
				letter-spacing: 0.32px;
				text-decoration: none;
				transition: opacity 0.5s ease;

				&:hover {
					opacity: 0.7;
				}

			}
			.tax{
				color: #3A3836;
				text-align: center;
				font-family: 'Poppins', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 24px; /* 150% */
				letter-spacing: 0.32px;
			}
		}

	}
	@media (max-width: 768px) {

	}

	@media (max-width: 1023px) {

	}

	@media (max-width: 1280px) {
		.items_card{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding: 0 15px;
			gap: 15px;

		}
		.items_card .card .card_image{
			width: auto;
		}


	}


	@media (max-width: 575px) {
		.items_card .card{
			gap: 2px;
		}

		.items_card .card .card_image{
			height: 200px;
		}

		.items_card .card .product-badge{
			font-size: 10px;
			padding: 1px 10px;
			top: 9px;
			left: 10px;
		}

		.items_card .card .view-more{
			padding: 5px 0;
			font-size: 12px;
		}

		.items_card .card .card_title{
			color: #3A3836;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 300;
			line-height: 20px; /* 166.667% */
			letter-spacing: 0.24px;
		}
		.items_card .card .tax{
			color: #3A3836;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px; /* 166.667% */
			letter-spacing: 0.24px;
		}
	}
