.jewelry_collection{
	background-color: #FFFFFF;
	.container{
		display: grid;
		padding: 120px 0 120px;
		justify-content: center;
		.jewelry_collection__title{
			display: flex;
			justify-content: center;
			color: var(--Black-Primary, #000);

			font-family: 'Poppins', sans-serif;
			font-size: 60px;
			font-style: normal;
			font-weight: 600;
			line-height: 70px; /* 116.667% */
			letter-spacing: 1.2px;
			padding-bottom: 120px;
			max-width: 1506px;
		}
		.jewelry_collection__gallery{
			display: flex;
			justify-content: center;
			gap: 30px;

			.jewelry_collection__gallery-left{
				.jewelry_collection__gallery-image-wrapper {
					width: 738px;
					height: 919px;
					position: relative;
					img{
						display: block;
						height: 100%;
						width: 100%;
						object-fit: cover
					}
					.view-more {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 100%;
						padding: 20px 0;
						background: rgba(255, 255, 255, 0.01); // майже прозорий білий
						color: #000000;
						font-family: 'Poppins', sans-serif;
						font-size: 48px;
						text-align: center;
						opacity: 0;
						transition: opacity 0.5s ease-in-out;
						pointer-events: none;
						font-weight: 600;


						// чорна лінія зверху
						&::before {
							content: "";
							display: block;
							height: 3px;
							width: 50px; // ⬅ лінія буде 60px шириною
							background-color: black;
							margin: 0 auto 10px auto; // ⬅ центрування та відступ знизу
						}

					}
					&:hover .view-more{
						opacity: 1;
					}
				}
			}
			.jewelry_collection__gallery-right{
				display: grid;
				grid-template-columns: repeat(2, auto); // 2 елементи в рядок
				grid-template-rows: repeat(2, auto);
				gap: 37px;
				.jewelry_collection__gallery-item{
					width: 354px;
					height: 441px;
					position: relative;
					img{
						display: block;
						height: 100%;
						width: 100%;
						object-fit: cover
					}
					.view-more {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 100%;
						padding: 20px 0;
						background: rgba(255, 255, 255, 0.01); // майже прозорий білий
						color: #000000;
						font-family: 'Poppins', sans-serif;
						font-size: 48px;
						text-align: center;
						opacity: 0;
						transition: opacity 0.5s ease-in-out;
						pointer-events: none;
						font-weight: 600;


						// чорна лінія зверху
						&::before {
							content: "";
							display: block;
							height: 3px;
							width: 50px; // ⬅ лінія буде 60px шириною
							background-color: black;
							margin: 0 auto 10px auto; // ⬅ центрування та відступ знизу
						}

					}
					&:hover .view-more{
						opacity: 1;
					}


				}

			}
		}

	}
}




@media (max-width: 1280px) {
	.jewelry_collection .container .jewelry_collection__title{
		font-size: 48px;
		display: flex;
		max-width: 1015px;
		padding: 0 15px 120px 15px;
	}
	.jewelry_collection .container .jewelry_collection__gallery{
		display: grid;
		padding: 15px;
		gap: 15px;
	}
	.jewelry_collection .container .jewelry_collection__gallery .jewelry_collection__gallery-left .jewelry_collection__gallery-image-wrapper{
		width: 100%;
	}
	.jewelry_collection .container .jewelry_collection__gallery .jewelry_collection__gallery-right .jewelry_collection__gallery-item{
		width: 100%;
	}
	.jewelry_collection .container .jewelry_collection__gallery .jewelry_collection__gallery-right{
		gap: 15px;
	}
}
