.main {

	.container {
		.banner_info{
			display: grid;
			gap: 40px;
			padding-top: 644px;
		}
		.main_banner {
			background-image: url('../img/main_banner.jpg');
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			position: relative;
			height: 900px;
			width: auto;

			.banner_title {
				display: flex;
				justify-content: center;


				color: var(--White, #FFF);
				font-family: 'Poppins', sans-serif;
				font-size: 60px;
				font-style: normal;
				font-weight: 600;
				line-height: 70px; /* 116.667% */
				letter-spacing: 1.2px;
				white-space: nowrap; // не переносити в новий рядок


			}
			.banner_button{
				display: flex;
				justify-content: center;
				.shop-now {
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: 'Poppins', sans-serif;
					font-size: 14px;
					background: #FFF;
					color: #000;
					padding: 20px 91px 22px 79px;
					cursor: pointer;
					border: 2px solid transparent;
					transition: all 0.5s ease-in-out;
					text-decoration: none;


					&:hover {
						//background: transparent;
						color: #fff;
						border: 2px solid #fff;
						background: rgba(255, 255, 255, 0.2); // прозорий білий фон
						backdrop-filter: blur(10px); // саме розмиття
						-webkit-backdrop-filter: blur(10px); // для Safari
					}
				}


			}
		}
		.items{
			background-color: #FFFFFF;
			padding-top: 120px;
			.items_title{
				display: flex;
				justify-content: center;
				color: var(--Black-Primary, #000);

				font-family: 'Poppins', sans-serif;
				font-size: 48px;
				font-style: normal;
				font-weight: 600;
				line-height: 64px; /* 133.333% */
				letter-spacing: 0.96px;
				padding-bottom: 40px;
			}
			.items_button {
				display: flex;
				justify-content: center;
				padding-top: 40px;

				a {
					text-decoration: none;
				}

				.show_more {
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: 'Poppins', sans-serif;
					color: var(--Black-Primary, #000);
					text-align: center;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
					letter-spacing: 1.08px;
					text-transform: uppercase;
					opacity: 1;
					cursor: pointer;
					border: 1px solid #fff;
					background-color: #fff;

					text-decoration: underline;
					text-decoration-color: transparent;
					text-underline-offset: 4px;
					transition: text-decoration-color 0.5s ease;

					&:hover {
						text-decoration-color: var(--Black-Primary, #000); // або #000
					}
				}
			}


		}
	}

}


@media (max-width: 1023px) {
	.main .container .main_banner .banner_title{
		color: var(--White, #FFF);
		text-align: center;

		/* H1 - Mobile */
		font-family: 'Poppins', sans-serif;
		font-size: 50px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px; /* 125% */
		letter-spacing: 0.64px;
	}
}

@media (max-width: 768px) {
	.main .container .main_banner .banner_title{
		font-size: 32px;
	}

}

@media (max-width: 575px) {
	.main .container .main_banner .banner_title{
		font-size: 32px;
		white-space: normal; // ✅ дозволяє переносити
		text-align: center;
	}

	.main .container .main_banner .banner_button .shop-now{
		font-size: 12px;
		padding: 15px 60px;
	}
	.main .container .banner_info{
		gap: 15px;
	}

	.main .container .items{
		padding-top: 30px;
	}

	.main .container .items .items_title{
		color: var(--Black-Primary, #000);
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px; /* 133.333% */
		letter-spacing: 0.48px;
		padding-bottom: 15px;
	}

	.main .container .items .items_button{
		padding-top: 15px;
	}

	.main .container .items .items_button .show_more{

		color: var(--Black-Primary, #000);
		text-align: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.84px;
		text-transform: uppercase;

	}

}
