.new_collection_banner {
	background-image: url('../img/new_collection_banner.jpg');
	background-size: cover; /* щоб картинка розтягувалась пропорційно */
	background-position: center; // ⬅️ ЗОБРАЖЕННЯ ПОЧИНАЄТЬСЯ З ВЕРХУ
	background-repeat: no-repeat;
	position: relative;
	height: 576px;

	.container {
		display: grid;
		gap: 40px;

		.new_collection_banner__title {
			display: flex;
			justify-content: center;
			padding-top: 200px;

			color: var(--White, #FFF);
			text-align: center;
			font-family: 'Poppins', sans-serif;
			font-size: 60px;
			font-style: normal;
			font-weight: 600;
			line-height: 70px; /* 116.667% */
			letter-spacing: 1.2px;

		}

		.new_collection_banner__button {
			display: flex;
			justify-content: center;

			.shop-now {
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: 'Poppins', sans-serif;
				font-size: 14px;
				background: #FFF;
				color: #000;
				padding: 20px 91px 22px 79px;
				cursor: pointer;
				border: 2px solid transparent;
				transition: all 0.5s ease-in-out;
				text-decoration: none;


				&:hover {
					//background: transparent;
					color: #fff;
					border: 2px solid #fff;
					background: rgba(255, 255, 255, 0.2); // прозорий білий фон
					backdrop-filter: blur(10px); // саме розмиття
					-webkit-backdrop-filter: blur(10px); // для Safari
				}
			}


		}
	}
}


@media (max-width: 575px) {

	.new_collection_banner {
		.container{
			gap: 10px;
		}
		height: 400px;
	}

	.new_collection_banner .container .new_collection_banner__title {
		color: var(--White, #FFF);
		text-align: center;

		padding-top: 130px;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px; /* 125% */
		letter-spacing: 0.64px;
	}

	.new_collection_banner .container .new_collection_banner__button .shop-now {
		color: var(--Black-Primary, #000);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 150% */
		padding: 15px 60px;
	}

}


@media (max-width: 1023px) {
	.new_collection_banner .container .new_collection_banner__title{
		font-size: 50px;
	}
}

