<section class="blog">
	<div class="container">
		<div class="blog__title">
			Blog
		</div>
		<div class="blog__posts">
			<div class="blog__posts-item">
				<a class="blog__posts__image-wrapper">
					<img src="/img/blog1.png" alt="" class="blog__posts-image">
				</a>
				<div class="blog__posts-item__info">
					<div class="blog__posts-item__title">
						<a href="#" ><h3>Jewelry Cleaning</h3></a>
					</div>
					<p class="blog__posts-item__date">March 25, 2022</p>
					<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br> cabin is very low humidity, it never rises ...</p>
					<div class="blog__posts-item__read-more">
						<a href="#" >READ MORE</a>
					</div>

				</div>

			</div>
			<div class="blog__posts-item">
				<a class="blog__posts__image-wrapper">
					<img src="/img/blog2.png" alt="" class="blog__posts-image">
				</a>
				<div class="blog__posts-item__info">
					<div class="blog__posts-item__title">
						<a href="#" ><h3>Interesting and trendy forms</h3></a>
					</div>
					<p class="blog__posts-item__date">March 25, 2022</p>
					<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br> cabin is very low humidity, it never rises ...</p>
					<div class="blog__posts-item__read-more">
						<a href="#" >READ MORE</a>
					</div>
				</div>
			</div>
			<div class="blog__posts-item">
				<a class="blog__posts__image-wrapper">
					<img src="/img/blog3.png" alt="" class="blog__posts-image">
				</a>
				<div class="blog__posts-item__info">
					<div class="blog__posts-item__title">
						<a href="#" ><h3>Pearls in gold jewelry</h3></a>
					</div>
					<p class="blog__posts-item__date">March 25, 2022</p>
					<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br> cabin is very low humidity, it never rises ...</p>
					<div class="blog__posts-item__read-more">
						<a href="#" >READ MORE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
