<footer class="footer">
	<div class="footer__top container">
		<div class="footer__column footer__column--menu">
			<h4 class="footer__title">Jewelry</h4>
			<ul class="footer__list">
				<li><a href="#" class="footer__link">Rings</a></li>
				<li><a href="#" class="footer__link">Bracelets</a></li>
				<li><a href="#" class="footer__link">Earrings</a></li>
				<li><a href="#" class="footer__link">Necklaces</a></li>
			</ul>
		</div>
		<div class="footer__column footer__column--menu">
			<h4 class="footer__title">Collections</h4>
			<ul class="footer__list">
				<li><a href="#" class="footer__link">Bondi</a></li>
				<li><a href="#" class="footer__link">India</a></li>
				<li><a href="#" class="footer__link">Lake</a></li>
				<li><a href="#" class="footer__link">First Love</a></li>
			</ul>
		</div>
		<div class="footer__column footer__column--menu">
			<h4 class="footer__title">Company</h4>
			<ul class="footer__list">
				<li><a href="#" class="footer__link">Blog</a></li>
				<li><a href="#" class="footer__link">Contacts</a></li>
				<li><a href="#" class="footer__link">FAQ</a></li>
				<li><a href="#" class="footer__link">Privacy Policy</a></li>
			</ul>
		</div>
		<div class="footer__column footer__column--social">
			<h4 class="footer__title">Follow Us</h4>
			<div class="footer__icons">
				<div class="footer__icon">
					<a href="#">
						<img src="img/uEA01-icon-facebook.svg" />
					</a>
				</div>
				<div class="footer__icon">
					<a href="#">
						<img src="img/uEA07-icon-twitter.svg" />
					</a>
					</div>
				<div class="footer__icon"><a href="#">
					<img src="img/uEA02-icon-instagram.svg" />
				</a></div>
				<div class="footer__icon"><a href="#">
					<img src="img/uEA03-icon-pinterest.svg" />
				</a></div>
				<div class="footer__icon"><a href="#">
					<img src="img/uEA06-icon-tumbrl.svg" />
				</a></div>
				<div class="footer__icon"><a href="#">
					<img src="img/uEA04-icon-snapchat.svg" />
				</a></div>
				<div class="footer__icon"><a href="#">
					<img src="img/uEA05-icon-tiktok.svg" />
				</a></div>
				<div class="footer__icon"><a href="#">
					<img src="img/uEA09-icon-youtube.svg" />
				</a></div>
				<div class="footer__icon"><a href="#">
					<img src="img/uEA08-icon-vimeo.svg" />
				</a></div>
			</div>
		</div>
		<div class="footer__column footer__column--story">
			<h4 class="footer__title">Our Story</h4>
			<p class="footer__text">
				The brand is experimenting with design, which is reflected in new collections. The style of jewelry organically echoes fashion trends, emphasizing the trendy modern sound.
			</p>
		</div>
	</div>

	<div class="footer__bottom container">
		<div class="footer__selects">
			<select class="footer__select js-select2">
				<option>United States (USA $)</option>
				<option>Ukraine (Hryvna ₴)</option>
				<option>UK (Pounds sterling)</option>
			</select>
			<select class="footer__select js-select2">
				<option>English</option>
				<option>Ukrainian</option>
				<option>Polish</option>
			</select>
		</div>
		<div class="footer__copyright">
			© 2022 Bullet beauty. All rights reserved. Powered by Shopify
		</div>
		<div class="footer__payments">
			<div class="footer__payment-icon">
				<img src="img/footer1.svg" />
			</div>
			<div class="footer__payment-icon"><img src="img/footer2.svg" /></div>
			<div class="footer__payment-icon"><img src="img/footer3.svg" /></div>
			<div class="footer__payment-icon"><img src="img/footer4.svg" /><!-- amex svg --></div>
			<div class="footer__payment-icon"><img src="img/footer5.svg" /><!-- mastercard svg --></div>
			<div class="footer__payment-icon"><img src="img/footer6.svg" /><!-- visa svg --></div>
		</div>
	</div>
</footer>

