<section class="jewelry_collection">
	<div class="container">
		<div class="jewelry_collection__title">
			Minimalism and simplicity combined with<br> interesting shapes.Choose a piece of jewelry<br> that you like.
		</div>
		<div class="jewelry_collection__gallery">
			<div class="jewelry_collection__gallery-left"><a href="#">
				<div class="jewelry_collection__gallery-image-wrapper">
					<img src="/img/gallery1.jpg" alt="Minimalist jewelry piece 1" class="jewelry_collection__gallery-image">
				</div>
			</a></div>

			<div class="jewelry_collection__gallery-right">
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery2.jpg" class="jewelry_collection__gallery-image" alt="">
				</a>
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery3.jpg" class="jewelry_collection__gallery-image" alt="">
				</a>
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery4.png" class="jewelry_collection__gallery-image" alt="">
				</a>
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery5.jpg" class="jewelry_collection__gallery-image" alt="">
				</a>
			</div>
		</div>
	</div>

</section>
