<main class="main">
	<div class="container">
		<section class="main_banner">
	<div class="banner_info">
		<div class="banner_title">
			Jewelry is made with love
		</div>
		<div class="banner_button">
			<a href="#">
				<button class="shop-now">Shop Now</button>
			</a>
		</div>
	</div>
</section>

		<section class="items">
	<div class="items_title">
		Popular Items
	</div>
	<div class="items_card">
	<div class="card" data-badge="new">
		<div class="card_image">
			<span class="product-badge">New</span>
			<a href="#">
				<img src="/img/item1.png" alt="">
			</a>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
	<div class="card" data-badge="new">
		<div class="card_image">
			<a href="#">
				<img src="/img/item2.png" alt="">
			</a>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
	<div class="card" data-badge="new">
		<div class="card_image">
			<a href="#">
				<img src="/img/item3.png" alt="">
			</a>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
	<div class="card" data-badge="new">
		<div class="card_image">
			<a href="#">
				<img src="/img/item4.jpg" alt="">
			</a>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
</div>


	<div class="items_button">
		<a  class="show_more" href="#">
			Show More
		</a>
	</div>
</section>

		<section class="jewelry_collection">
	<div class="container">
		<div class="jewelry_collection__title">
			Minimalism and simplicity combined with interesting shapes. Choose a piece of jewelry that you like.
		</div>
		<div class="jewelry_collection__gallery">
			<div class="jewelry_collection__gallery-left"><a href="#">
				<div class="jewelry_collection__gallery-image-wrapper">
					<img src="/img/gallery1.jpg" alt="Minimalist jewelry piece 1" class="jewelry_collection__gallery-image">
				</div>
			</a></div>

			<div class="jewelry_collection__gallery-right">
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery2.jpg" class="jewelry_collection__gallery-image" alt="">
				</a>
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery3.jpg" class="jewelry_collection__gallery-image" alt="">
				</a>
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery4.png" class="jewelry_collection__gallery-image" alt="">
				</a>
				<a class="jewelry_collection__gallery-item" href="#">
					<img src="/img/gallery5.jpg" class="jewelry_collection__gallery-image" alt="">
				</a>
			</div>
		</div>
	</div>

</section>

		<section class="blog">
	<div class="container">
		<div class="blog__posts">
			<div class="blog__posts-item">
				<a class="blog__posts__image-wrapper">
					<img src="/img/blog1.png" alt="" class="blog__posts-image">
				</a>
				<div class="blog__posts-item__info">
					<div class="blog__posts-item__title">
						<a href="#" ><h3>Jewelry Cleaning</h3></a>
					</div>
					<p class="blog__posts-item__date">March 25, 2022</p>
					<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br> cabin is very low humidity, it never rises ...</p>
					<div class="blog__posts-item__read-more">
						<a href="#" >READ MORE</a>
					</div>

				</div>

			</div>
			<div class="blog__posts-item">
				<a class="blog__posts__image-wrapper">
					<img src="/img/blog2.png" alt="" class="blog__posts-image">
				</a>
				<div class="blog__posts-item__info">
					<div class="blog__posts-item__title">
						<a href="#" ><h3>Interesting and trendy forms</h3></a>
					</div>
					<p class="blog__posts-item__date">March 25, 2022</p>
					<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br> cabin is very low humidity, it never rises ...</p>
					<div class="blog__posts-item__read-more">
						<a href="#" >READ MORE</a>
					</div>
				</div>
			</div>
			<div class="blog__posts-item">
				<a class="blog__posts__image-wrapper">
					<img src="/img/blog3.png" alt="" class="blog__posts-image">
				</a>
				<div class="blog__posts-item__info">
					<div class="blog__posts-item__title">
						<a href="#" ><h3>Pearls in gold jewelry</h3></a>
					</div>
					<p class="blog__posts-item__date">March 25, 2022</p>
					<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br> cabin is very low humidity, it never rises ...</p>
					<div class="blog__posts-item__read-more">
						<a href="#" >READ MORE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

		<section class="new_collection_banner">
	<div class="container">
		<div class="new_collection_banner__title">
			New Collection 2022
		</div>
		<div class="new_collection_banner__button">
			<a href="#">
				<button class="shop-now">Shop Now</button>
			</a>
		</div>
	</div>

</section>

		<section class="gift">
	<div class="container">
		<div class="gift_items__left">
			<div class="gift_items__image gift_items__image__mod" href="#">
				<img class="image__mod" src="/img/gift1.png" alt="">
			</div>

			<div class="gift_items__info">
				<div class="gift_items__title">
					Hurry! Sale 50%
				</div>
				<p class="gift_items__description">We don’t have any ideas what to give ourselves, or are you doubting
					your choice?A<br> gift certificate is a modern way to bring in friends and relatives, to pick out
					those who<br> are dear to your heart.</p>
				<div class="gift_items__button">
					<a href="#">
						<button class="shop-now">Shop Now</button>
					</a>
				</div>
			</div>

			<div class="gift_items__image" href="#">
				<img src="/img/gift2.png" alt="">
			</div>
		</div>
		<div class="gift_items__right">
			<div class="gift_items__info gift_items__info__select__mod">
				<div class="gift_items__title">
					Gift Card
				</div>
				<p class="gift_items__description">We don’t have any ideas what to give ourselves, or are you doubting
					your choice?A<br> gift certificate is a modern way to bring in friends and relatives, to pick out
					those who<br> are dear to your heart.</p>
<!--				<div class="gift_items__select">-->
<!--					<select class="gift-select">-->
<!--						<option value="100">$100</option>-->
<!--						<option value="150">$150</option>-->
<!--						<option value="200">$200</option>-->
<!--						<option value="300">$300</option>-->
<!--					</select>-->
<!--				</div>-->

				<div class="gift_items__button">
					<a href="#">
						<button class="shop-now">Buy Now</button>
					</a>
				</div>
			</div>

			<div class="gift_items__image" href="#">
				<img src="/img/gift3.jpg" alt="">
			</div>

			<div class="gift_items__info gift_items__info__mod-input">
				<div class="gift_items__title">
					Newsletter
				</div>
				<p class="gift_items__description">Sign up for exclusive deals and early access to new products.</p>
				<input type="email" placeholder="Your Email" class="custom-input" />
				<div class="gift_items__button">
					<a href="#">
						<button class="shop-now shop-now__newslt_mod">Subscribe</button>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>

	</div>
</main>

