{% comment %}<main class="main">{% endcomment %}
	{% comment %}<div class="container">{% endcomment %}
		{% comment %}<section class="main_banner">{% endcomment %}
	{% comment %}<div class="banner_info">{% endcomment %}
		{% comment %}<div class="banner_title">{% endcomment %}
			{% comment %}Jewelry is made with love{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<div class="banner_button">{% endcomment %}
			{% comment %}<a href="#" class="shop-now">Shop Now</a>{% endcomment %}
		{% comment %}</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}</section>{% endcomment %}
{% comment %}{% endcomment %}
		{% comment %}<section class="items">{% endcomment %}
	{% comment %}<div class="items_title">{% endcomment %}
		{% comment %}Popular Items{% endcomment %}
	{% comment %}</div>{% endcomment %}
	{% comment %}<div class="items_card">{% endcomment %}
	{% comment %}<div class="card" data-badge="new">{% endcomment %}
		{% comment %}<div class="card_image">{% endcomment %}
			{% comment %}<span class="product-badge">New</span>{% endcomment %}
			{% comment %}<a href="#">{% endcomment %}
				{% comment %}<img src="img/item1.png" alt="">{% endcomment %}
			{% comment %}</a>{% endcomment %}
			{% comment %}<div class="view-more">View More</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<a href="#" class="card_title">Kazaur Weaving Ring</a>{% endcomment %}
		{% comment %}<div class="tax">$132.00</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
	{% comment %}<div class="card" data-badge="new">{% endcomment %}
		{% comment %}<div class="card_image">{% endcomment %}
			{% comment %}<a href="#">{% endcomment %}
				{% comment %}<img src="img/item2.png" alt="">{% endcomment %}
			{% comment %}</a>{% endcomment %}
			{% comment %}<div class="view-more">View More</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<a href="#" class="card_title">Kazaur Weaving Ring</a>{% endcomment %}
		{% comment %}<div class="tax">$132.00</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
	{% comment %}<div class="card" data-badge="new">{% endcomment %}
		{% comment %}<div class="card_image">{% endcomment %}
			{% comment %}<a href="#">{% endcomment %}
				{% comment %}<img src="img/item3.png" alt="">{% endcomment %}
			{% comment %}</a>{% endcomment %}
			{% comment %}<div class="view-more">View More</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<a href="#" class="card_title">Kazaur Weaving Ring</a>{% endcomment %}
		{% comment %}<div class="tax">$132.00</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
	{% comment %}<div class="card" data-badge="new">{% endcomment %}
		{% comment %}<div class="card_image">{% endcomment %}
			{% comment %}<a href="#">{% endcomment %}
				{% comment %}<img src="img/item4.jpg" alt="">{% endcomment %}
			{% comment %}</a>{% endcomment %}
			{% comment %}<div class="view-more">View More</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<a href="#" class="card_title">Kazaur Weaving Ring</a>{% endcomment %}
		{% comment %}<div class="tax">$132.00</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}{% endcomment %}
	{% comment %}<div class="items_button">{% endcomment %}
		{% comment %}<a  class="show_more" href="#">{% endcomment %}
			{% comment %}Show More{% endcomment %}
		{% comment %}</a>{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}</section>{% endcomment %}
{% comment %}{% endcomment %}
		{% comment %}<section class="jewelry_collection">{% endcomment %}
	{% comment %}<div class="container">{% endcomment %}
		{% comment %}<div class="jewelry_collection__title">{% endcomment %}
			{% comment %}Minimalism and simplicity combined with interesting shapes. Choose a piece of jewelry that you like.{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<div class="jewelry_collection__gallery">{% endcomment %}
			{% comment %}<div class="jewelry_collection__gallery-left"><a href="#">{% endcomment %}
				{% comment %}<div class="jewelry_collection__gallery-image-wrapper">{% endcomment %}
					{% comment %}<img src="img/gallery1.jpg" alt="Minimalist jewelry piece 1" class="jewelry_collection__gallery-image">{% endcomment %}
					{% comment %}<div class="view-more">Earrings</div>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% comment %}</a></div>{% endcomment %}
{% comment %}{% endcomment %}
			{% comment %}<div class="jewelry_collection__gallery-right">{% endcomment %}
				{% comment %}<a class="jewelry_collection__gallery-item" href="#">{% endcomment %}
					{% comment %}<img src="img/gallery2.jpg" class="jewelry_collection__gallery-image" alt="">{% endcomment %}
					{% comment %}<div class="view-more">Bracelets</div>{% endcomment %}
				{% comment %}</a>{% endcomment %}
				{% comment %}<a class="jewelry_collection__gallery-item" href="#">{% endcomment %}
					{% comment %}<img src="img/gallery3.jpg" class="jewelry_collection__gallery-image" alt="">{% endcomment %}
					{% comment %}<div class="view-more">Rings</div>{% endcomment %}
{% comment %}{% endcomment %}
				{% comment %}</a>{% endcomment %}
				{% comment %}<a class="jewelry_collection__gallery-item" href="#">{% endcomment %}
					{% comment %}<img src="img/gallery4.png" class="jewelry_collection__gallery-image" alt="">{% endcomment %}
					{% comment %}<div class="view-more">Unusual</div>{% endcomment %}
{% comment %}{% endcomment %}
				{% comment %}</a>{% endcomment %}
				{% comment %}<a class="jewelry_collection__gallery-item" href="#">{% endcomment %}
					{% comment %}<img src="img/gallery5.jpg" class="jewelry_collection__gallery-image" alt="">{% endcomment %}
					{% comment %}<div class="view-more">Necklaces</div>{% endcomment %}
				{% comment %}</a>{% endcomment %}
			{% comment %}</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}</section>{% endcomment %}
{% comment %}{% endcomment %}
		{% comment %}<section class="blog">{% endcomment %}
	{% comment %}<div class="container">{% endcomment %}
		{% comment %}<div class="blog__title">{% endcomment %}
			{% comment %}Blog{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<div class="blog__posts swiper">{% endcomment %}
			{% comment %}<div class="swiper-wrapper">{% endcomment %}
				{% comment %}<div class="blog__posts-item swiper-slide">{% endcomment %}
					{% comment %}<a class="blog__posts__image-wrapper">{% endcomment %}
						{% comment %}<img src="img/blog1.png" alt="" class="blog__posts-image">{% endcomment %}
					{% comment %}</a>{% endcomment %}
					{% comment %}<div class="blog__posts-item__info">{% endcomment %}
						{% comment %}<div class="blog__posts-item__title">{% endcomment %}
							{% comment %}<a href="#"><h3>Jewelry Cleaning</h3></a>{% endcomment %}
						{% comment %}</div>{% endcomment %}
						{% comment %}<p class="blog__posts-item__date">March 25, 2022</p>{% endcomment %}
						{% comment %}<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before{% endcomment %}
							{% comment %}flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br>{% endcomment %}
							{% comment %}cabin is very low humidity, it never rises ...</p>{% endcomment %}
						{% comment %}<div class="blog__posts-item__read-more">{% endcomment %}
							{% comment %}<a href="#">READ MORE</a>{% endcomment %}
						{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
					{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<div class="blog__posts-item swiper-slide">{% endcomment %}
					{% comment %}<a class="blog__posts__image-wrapper">{% endcomment %}
						{% comment %}<img src="img/blog2.png" alt="" class="blog__posts-image">{% endcomment %}
					{% comment %}</a>{% endcomment %}
					{% comment %}<div class="blog__posts-item__info">{% endcomment %}
						{% comment %}<div class="blog__posts-item__title">{% endcomment %}
							{% comment %}<a href="#"><h3>Interesting and trendy forms</h3></a>{% endcomment %}
						{% comment %}</div>{% endcomment %}
						{% comment %}<p class="blog__posts-item__date">March 25, 2022</p>{% endcomment %}
						{% comment %}<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before{% endcomment %}
							{% comment %}flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br>{% endcomment %}
							{% comment %}cabin is very low humidity, it never rises ...</p>{% endcomment %}
						{% comment %}<div class="blog__posts-item__read-more">{% endcomment %}
							{% comment %}<a href="#">READ MORE</a>{% endcomment %}
						{% comment %}</div>{% endcomment %}
					{% comment %}</div>{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<div class="blog__posts-item swiper-slide">{% endcomment %}
					{% comment %}<a class="blog__posts__image-wrapper">{% endcomment %}
						{% comment %}<img src="img/blog3.png" alt="" class="blog__posts-image">{% endcomment %}
					{% comment %}</a>{% endcomment %}
					{% comment %}<div class="blog__posts-item__info">{% endcomment %}
						{% comment %}<div class="blog__posts-item__title">{% endcomment %}
							{% comment %}<a href="#"><h3>Pearls in gold jewelry</h3></a>{% endcomment %}
						{% comment %}</div>{% endcomment %}
						{% comment %}<p class="blog__posts-item__date">March 25, 2022</p>{% endcomment %}
						{% comment %}<p class="blog__posts-item__description">Experts strongly recommend not to do makeup before{% endcomment %}
							{% comment %}flying on an<br> airplane, even if there should be a very short flight. The fact is that the<br>{% endcomment %}
							{% comment %}cabin is very low humidity, it never rises ...</p>{% endcomment %}
						{% comment %}<div class="blog__posts-item__read-more">{% endcomment %}
							{% comment %}<a href="#">READ MORE</a>{% endcomment %}
						{% comment %}</div>{% endcomment %}
					{% comment %}</div>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% comment %}</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}</section>{% endcomment %}
{% comment %}{% endcomment %}
		{% comment %}<section class="new_collection_banner">{% endcomment %}
	{% comment %}<div class="container">{% endcomment %}
		{% comment %}<div class="new_collection_banner__title">{% endcomment %}
			{% comment %}New Collection 2022{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<div class="new_collection_banner__button">{% endcomment %}
			{% comment %}<a href="#" class="shop-now">Shop Now</a>{% endcomment %}
		{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}</section>{% endcomment %}
{% comment %}{% endcomment %}
		{% comment %}<section class="gift">{% endcomment %}
	{% comment %}<div class="container">{% endcomment %}
		{% comment %}<div class="gift_items__left">{% endcomment %}
			{% comment %}<div class="gift_items__image gift_items__image__mod" href="#">{% endcomment %}
				{% comment %}<img class="image__mod" src="img/gift1.png" alt="">{% endcomment %}
			{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
			{% comment %}<div class="gift_items__info">{% endcomment %}
				{% comment %}<div class="gift_items__title">{% endcomment %}
					{% comment %}Hurry! Sale 50%{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<p class="gift_items__description">We don’t have any ideas what to give ourselves, or are you doubting{% endcomment %}
					{% comment %}your choice?A<br> gift certificate is a modern way to bring in friends and relatives, to pick out{% endcomment %}
					{% comment %}those who<br> are dear to your heart.</p>{% endcomment %}
				{% comment %}<div class="gift_items__button">{% endcomment %}
					{% comment %}<a href="#" class="shop-now">Shop Now</a>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
			{% comment %}<div class="gift_items__image" href="#">{% endcomment %}
				{% comment %}<img src="img/gift2.png" alt="">{% endcomment %}
			{% comment %}</div>{% endcomment %}
		{% comment %}</div>{% endcomment %}
		{% comment %}<div class="gift_items__right">{% endcomment %}
			{% comment %}<div class="gift_items__info gift_items__info__select__mod">{% endcomment %}
				{% comment %}<div class="gift_items__title">{% endcomment %}
					{% comment %}Gift Card{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<p class="gift_items__description">We don’t have any ideas what to give ourselves, or are you doubting{% endcomment %}
					{% comment %}your choice?A<br> gift certificate is a modern way to bring in friends and relatives, to pick out{% endcomment %}
					{% comment %}those who<br> are dear to your heart.</p>{% endcomment %}
				{% comment %}<div class="gift_items__select">{% endcomment %}
					{% comment %}<select class="gift-select js-select2">{% endcomment %}
						{% comment %}<option value="100">$100</option>{% endcomment %}
						{% comment %}<option value="150">$150</option>{% endcomment %}
						{% comment %}<option value="200">$200</option>{% endcomment %}
						{% comment %}<option value="300">$300</option>{% endcomment %}
					{% comment %}</select>{% endcomment %}
					{% comment %}<div class="gift_items__button">{% endcomment %}
						{% comment %}<a href="#" class="shop-now">Shop Now</a>{% endcomment %}
					{% comment %}</div>{% endcomment %}
				{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
			{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
			{% comment %}<div class="gift_items__image" href="#">{% endcomment %}
				{% comment %}<img src="img/gift3.jpg" alt="">{% endcomment %}
			{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
			{% comment %}<div class="gift_items__info gift_items__info__mod-input">{% endcomment %}
				{% comment %}<div class="gift_items__title">{% endcomment %}
					{% comment %}Newsletter{% endcomment %}
				{% comment %}</div>{% endcomment %}
				{% comment %}<p class="gift_items__description">Sign up for exclusive deals and early access to new products.</p>{% endcomment %}
				{% comment %}<input type="email" placeholder="Your Email" class="custom-input" />{% endcomment %}
				{% comment %}<div class="gift_items__button">{% endcomment %}
					{% comment %}<a href="#">{% endcomment %}
						{% comment %}<button class="shop-now shop-now__newslt_mod">Subscribe</button>{% endcomment %}
					{% comment %}</a>{% endcomment %}
				{% comment %}</div>{% endcomment %}
			{% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
		{% comment %}</div>{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}</section>{% endcomment %}
{% comment %}{% endcomment %}
	{% comment %}</div>{% endcomment %}
{% comment %}</main>{% endcomment %}
{% comment %}{% endcomment %}
