<section class="new_collection_banner">
	<div class="container">
		<div class="new_collection_banner__title">
			New Collection 2022
		</div>
		<div class="new_collection_banner__button">
			<a href="#" class="shop-now">Shop Now</a>
		</div>

	</div>

</section>
