<div class="items_card">
	<div class="card" data-badge="new">
		<div class="card_image">
			<span class="product-badge">New</span>
			<a href="#">
				<img src="img/item1.png" alt="">
			</a>
			<div class="view-more">View More</div>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
	<div class="card" data-badge="new">
		<div class="card_image">
			<a href="#">
				<img src="img/item2.png" alt="">
			</a>
			<div class="view-more">View More</div>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
	<div class="card" data-badge="new">
		<div class="card_image">
			<a href="#">
				<img src="img/item3.png" alt="">
			</a>
			<div class="view-more">View More</div>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
	<div class="card" data-badge="new">
		<div class="card_image">
			<a href="#">
				<img src="img/item4.jpg" alt="">
			</a>
			<div class="view-more">View More</div>
		</div>
		<a href="#" class="card_title">Kazaur Weaving Ring</a>
		<div class="tax">$132.00</div>
	</div>
</div>

